@font-face {
    font-family:'misakigothic';
    src: url('misaki_gothic.eot');
    src: url('misaki_gothic.woff') format('woff'),
    url('misaki_gothic.ttf') format('truetype');
}

body{
    background-image: url('../img/gamen.png');
    font-family:'misakigothic';
    background-size: 100% 300%;
    background-repeat: no-repeat;
      
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
      
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
      
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;

    margin: 70px;
    color: #212529;
    padding: 50px;
    padding-left: 450px;

}

.td{
    background-color: #D9D9D9;
}

.delete{
   
    background-color: white;
    width: 250px;
    height: 100px;
}
.h1{
    color: white;
}

.nes-btn{
    margin-right:300px;
}