/* ユーザーアイコン関連のスタイル */
@font-face {
    font-family:'misakigothic';
    src: url('misaki_gothic.eot');
    src: url('misaki_gothic.woff') format('woff'),
    url('misaki_gothic.ttf') format('truetype');
}

body {
            margin: 0 auto;
            width: 100%;
            min-height: 100vh;
            background-image: url('../img/gamen.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #464646;
            font-family: 'Press Start 2P', cursive;
            color: #fff;
            text-align: center;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
#file-button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-icon {
    position: relative;
    width: 150px;
    height: 150px;
}

.rounded-icon {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    background-color: white;
}

input[type="file"] {
    display: none;
}

/* テーマ名関連のスタイル */
#theme-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#theme-container {
    display: flex;
    align-items: center;
    gap: 10px; /* ラベルとテキストボックスの間の隙間 */
}

label {
    font-size: 16px; /* ラベルのフォントサイズ */
    color: #fff; /* ラベルのテキストカラー */
}

input[type="text"] {
    width: 300px; /* テキストボックスの幅 */
    height: 30px; /* テキストボックスの高さ */
    padding: 8px; /* テキストボックスの内側の余白 */
    border: 1px solid #ccc; /* テキストボックスの枠線 */
    border-radius: 4px; /* テキストボックスの角丸 */
    font-size: 14px; /* テキストボックスのフォントサイズ */
    line-height: 1.5; /* テキストボックスの行の高さ */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* ホバーやフォーカス時のアニメーション */
}

input[type="text"]:focus {
    outline: none; /* フォーカス時のアウトラインを非表示 */
    border-color: #80bdff; /* フォーカス時の枠線の色 */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* フォーカス時の影 */
}

/* ボタン関連のスタイル */
#touroku-button {
    position: absolute;
    top: 60%;
    left: 55%;
}

#modoru-button {
    position: absolute;
    top: 60%;
    right: 55%;
}

button {
    width: 100px; /* ボタンの幅 */
    height: 50px; /* ボタンの高さ */
    font-size: 20px; /* ボタンのテキストサイズ */
}
