@font-face {
    font-family:'misakigothic';
    src: url('misaki_gothic.eot');
    src: url('misaki_gothic.woff') format('woff'),
    url('misaki_gothic.ttf') format('truetype');
}


.td{
    background-color: #D9D9D9;
}

.delete{
   
    background-color: white;
    width: 550px;
    height: 100px;
}
.h1{
    color: white;
}


.flex_item{
    display: flex;	
    margin-right: 30px;
    width: 170px;
    flex-flow: colunm;
    flex-wrap: wrap;
    text-align: center;
    display:inline-block
    

}

.flex_box{
    display: flex;
    padding-top: 10px;
    padding-left: 100px;
    text-align: center;
    flex-wrap: wrap;
    width: 1200px;
     margin:  auto;
}

.img_game{
    background-position: center;
    width: 150px;
    height:150px;
    border-radius:50%;
    background-image: url("./img/white.png");
}