body{
    background-image: url('../img/gamen.png');
    background-size: 100% 450%;
    background-repeat: no-repeat;
}
p{
    text-align: center;
}
#center{
    text-align: center;
}
#ac-button{
    position: absolute;
    top: 220px;
    left: 750px;
}
#cm-button{
    position: absolute;
    top: 220px;
    left: 1050px;
}
#teto-button{
    position: absolute;
    top: 320px;
    left: 750px;
}
#tede-button{
    position: absolute;
    top: 320px;
    left: 1050px;
}
.rogu{
    content:"";
    width:150px;
    height:20px;
}
.button{
    display: flex;
  flex-direction: column;
  gap: 1em;
}
  #file-button {
    position: absolute;
    top: 320px;
    left: 750px;
}

#theme-button {
    position: absolute;
    top: 320px;
    left: 1050px;
}

#touroku-button {
    position: absolute;
    top: 320px;
    left: 1550px;
}
#modoru-button{
    position: absolute;
    top: 220px;
    left: 1550px;   
}