body{
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    /* 画像ファイルの指定 */
        background-image: url('../img/gamen.png');
    
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
              
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
              
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
              
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
              
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
}

.header {
    position: absolute;
    top: 30px;
    right: 10px;
}

.logout {
    background-color: #ffffff;
    padding: 1px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.buttons, .theme {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: #ffffff;
    padding: 1px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    border-radius: 5px;
}

.rogo {
    margin: 0 auto;
    display: block;
}

a.btn {
    color: #000;
    text-decoration: none;
}

#theme {
    position: fixed;
    top: 410px;
    left: 925px;
}