body {
    background-image: url('../img/gamen.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 6000px;
    width: 100%;
    position: relative;
}

.header {
    position: absolute;
    top: 30px;
    right: 10px;
}

.logout {
    background-color: #ffffff;
    padding: 1px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.buttons, .theme {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: #ffffff;
    padding: 1px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    border-radius: 5px;
}

.rogo {
    margin: 0 auto;
    display: block;
}

a.btn {
    color: #000;
    text-decoration: none;
}

#theme {
    position: absolute;
    top: calc(100vh - 170px); /* ページの下部から180px上に配置 */
    right: 100%; /* 右側から10%の位置に配置 */
    margin-right: -50%; /* 水平方向の中央寄せ */
    transform: translateX(50%); /* 水平方向の中央寄せ */
}