body {
    background-color: #1c1c1c;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: linear-gradient(to bottom, #003366, #006699);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.themes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.theme-item {
    margin: 0 10px;
    text-align: center;
}

.theme-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

.next-button {
    display: flex;
    align-items: center;
}
