@font-face {
    font-family:'misakigothic';
    src: url('misaki_gothic.eot');
    src: url('misaki_gothic.woff') format('woff'),
    url('misaki_gothic.ttf') format('truetype');
}

html{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    font-family:'misakigothic';
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: #F4F4EB;
}

main{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /* 画像ファイルの指定 */
        background-image: url(../img/umi.png);
    
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
              
            /* 画像をタイル状に繰り返し表示しない */
            background-repeat: no-repeat;
              
            /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
            background-attachment: fixed;
              
            /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
            background-size: cover;
              
            /* 背景画像が読み込まれる前に表示される背景のカラー */
            background-color: #464646;
}

main h3{
    padding-top: 30px;
    padding-left: 50px;
}

.logo{
    width: 170px;
    height: 100px;
}

#form{
    display: flex;
    justify-content: center; 	
    height:50px;
    display: flex;
    justify-content: center; 	
    height:50px;
    position: fixed;
    top: 15px;
    left: 300px;
}

#prof{
    position: fixed;
    top: 20px;
    left: 900px;
}

#logout{
    position: fixed;
    top: 20px;
    left: 1050px;
}

.flex_box{
    display: flex;
    padding-top: 10px;
    padding-left: 100px;
    text-align: center;
}

.flex_item{
    display: flex;	
    margin-right: 30px;
    width: 170px;
    flex-flow: colunm;
    flex-wrap: wrap;
    text-align: center;
    display:inline-block

}

h4{
    width: 100%
}

.img_game{
    background-position: center;
    width: 150px;
    height:150px;
    border-radius:50%;
    background-image: url("./img/white.png");
}

/* theme中央ぞろえ */
.h3_theme{
    text-align: center;
    margin-right: 30px;

}

/* theme中央ぞろえ */
.theme{
text-align: center;
margin: 50px;
}

/* お気に入りoutputの中央ぞろえ */
.theme_output{
    text-align: center;
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 150px;
}

/* favorite-checkbox */
/* input[type="checkbox"]#theme_checkbox{
    display:none;
} 

.label {
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border:1px solid #000;
    border-radius:5px;  

} 
input[type="checkbox"]#theme_checkbox:checked + label{
    background: #000;

}

 */
