@font-face {
    font-family:'misakigothic';
    src: url('misaki_gothic.eot');
    src: url('misaki_gothic.woff') format('woff'),
    url('misaki_gothic.ttf') format('truetype');
}

body {
    font-family: 'misakigothic';  /* フォント設定 */
    background-image: url('../img/accountdelete.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    position: relative;
}

.confirmation-dialog {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.message {
    font-size: 1.5em;
    color: red;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.confirm-button, .cancel-button {
    font-family: 'misakigothic';  /* フォント設定 */
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button {
    background-color: #4CAF50;
    color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}