@font-face {
    font-family:'misakigothic';
    src: url('misaki_gothic.eot');
    src: url('misaki_gothic.woff') format('woff'),
    url('misaki_gothic.ttf') format('truetype');
}

html {
    width: 100%; /* 幅を100%に設定 */
    height: 100%; /* 高さを100%に設定 */
}
 
body {
    font-family: 'misakigothic';  /* フォント設定 */
    margin: 0; /* 余白なし */
    height: 100%;
    background-image: url(../img/detail.png);
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
               
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
              
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
              
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
              
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
    height: 100%;
    margin: 0;
}
 
/* コンテナの設定 */
.container {
    width: 100%; /* 幅を100%に設定 */
    min-height: 100vh; /* 高さを100vhに設定 */
    /*max-width: 1200px; /* 最大幅を1200pxに設定 */
    margin: 0 auto; /* 中央に配置 */
    padding: 20px; /* パディングを20pxに設定 */
   
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;                    /*no-repeat center center; 背景画像の設定 */
    background-attachment: fixed; /* 画像を固定 */
    background-size: cover; /* 背景画像をカバーサイズに設定 */
    background-color: #464646; /* 背景色（画像が読み込まれる前に表示） */
}
.container {
    display: flex;
}

main {
    flex: 2;
    padding: 20px;
}

aside {
    flex: 1;
    padding: 20px;
    position: sticky;
}

/* ヘッダーの設定 */
header {
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: #F4F4EB;
}
    

/* プロファイルセクションの設定 */
#prof{
    position: fixed;
    top: 20px;
    left: 900px;
}

#logout{
    position: fixed;
    top: 20px;
    left: 1050px;
}

#form{
    display: flex;
    justify-content: center; 	
    height:50px;
    display: flex;
    justify-content: center; 	
    height:50px;
    position: fixed;
    top: 15px;
    left: 300px;
}

.logo{
    width: 170px;
    height: 100px;
}

.board-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.board-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.board-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif; /* タイトル用のフォントを指定 */
}

.board-content {
    font-size: 1em;
    font-family: 'Arial', sans-serif; /* 内容用のフォントを指定 */
}

.board-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}