@font-face {
    font-family:'misakigothic';
    src: url('misaki_gothic.eot');
    src: url('misaki_gothic.woff') format('woff'),
    url('misaki_gothic.ttf') format('truetype');
}

.container {
    display: flex;
}

main {
    flex: 2;
    padding: 20px;
}

aside {
    flex: 1;
    padding: 20px;
}

/* ヘッダーの設定 */
header {
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: #F4F4EB;
}

/* プロファイルセクションの設定 */
#prof{
    position: fixed;
    top: 20px;
    left: 900px;
}

#logout{
    position: fixed;
    top: 20px;
    left: 1050px;
}

#form{
    display: flex;
    justify-content: center; 	
    height:50px;
    display: flex;
    justify-content: center; 	
    height:50px;
    position: fixed;
    top: 15px;
    left: 300px;
}

.logo{
    width: 170px;
    height: 100px;
}

.board-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.board-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.board-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.board-content {
    font-size: 1em;
}

.board-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}