@font-face {
    font-family:'misakigothic';
    src: url('misaki_gothic.eot');
    src: url('misaki_gothic.woff') format('woff'),
    url('misaki_gothic.ttf') format('truetype');
}

html{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    font-family:'misakigothic';
    /* 画像ファイルの指定 */
    background-image: url(../img/profile.png);
    
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
              
            /* 画像をタイル状に繰り返し表示しない */
            background-repeat: no-repeat;
              
            /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
            background-attachment: fixed;
              
            /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
            background-size: cover;
              
            /* 背景画像が読み込まれる前に表示される背景のカラー */
            background-color: #464646;
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: #F4F4EB;
}

main{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    

    color:#F4F4EB;
}

main h3{
    padding-top: 30px;
    padding-left: 50px;
}

.logo{
    width: 170px;
    height: 100px;
}

#form{
    display: flex;
    justify-content: center; 	
    height:50px;
    display: flex;
    justify-content: center; 	
    height:50px;
    position: fixed;
    top: 15px;
    left: 300px;
}

#prof{
    position: fixed;
    top: 20px;
    left: 900px;
}

#logout{
    position: fixed;
    top: 20px;
    left: 1050px;
}

.flex_box{
    display: flex;
    padding-top: 10px;
    padding-left: 100px;
    text-align: center;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    
}

.flex_item{
    display: flex;	
    margin-right: 30px;
    width: 170px;
    flex-flow: colunm;
    flex-wrap: wrap;
    text-align: center;
    display:inline-block;
    margin-bottom: 30px;
    margin-inline-start: 0 auto ;

}

.img_game{
    background-position: center;
    width: 150px;
    height:150px;
    border-radius:50%;
    background-image: url("./img/white.png");
}

.profile-user{
    text-align: center;
    padding: 60px;

}

.p_mpu{
    padding-right: 80%;
    height: 50px;
    font-size: 20px;
    }

.img_game1{
        background-position: center;
        width: 220px;
        height:220px;
        border-radius:80%;
        background-image: url("./img/white.png");
    }

.name{
    font-size: 30px;
}

.nes-btn2{
    height: 65px;
    width: 90px;
    margin-left: 810px;
    margin-bottom: 20px;
}
