@font-face {
    font-family:'misakigothic';
    src: url('misaki_gothic.eot');
    src: url('misaki_gothic.woff') format('woff'),
    url('misaki_gothic.ttf') format('truetype');
}

body {
      font-family:'misakigothic';
      background-image: url('../img/sinki.png');
      background-size: 100% 150%;
      /* 画像を常に天地左右の中央に配置 */
      background-position: center center;
               
      /* 画像をタイル状に繰り返し表示しない */
      background-repeat: no-repeat;
                
      /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
      background-attachment: fixed;
                
      /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
      background-size: cover;
                
      /* 背景画像が読み込まれる前に表示される背景のカラー */
      background-color: #464646;
      height: 100%;
      margin: 0;
}

p {
    text-align: center;
}

#center {
    text-align: center;
}
#left{
    position: absolute;
    top: 630px;
    left: 530px;
}
#right{
    position: absolute;
    top: 630px;
    right: 530px;
}
.flex_box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;
    gap: 10px;
}

.flex_item {
    position: relative;
    width: 150px;
    text-align: center;
}

.img_game {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.3s;
}

/* 丸い画像 */
.rounded-icon {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    background-color: white;
}

/* ラジオボタンの非表示 */
input[type="radio"] {
    display: none;
}

/* 選択された画像のふちを赤く */
input[type="radio"]:checked + label img {
    border: 3px solid red;
    box-sizing: border-box;
}