body {
    background-image: url('../img/sinki.png');
    background-size: 100% 100%;
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
               
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
              
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
              
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
              
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
    height: 100%;
    margin: 0;
}

#center {
    display: flex; /* flexboxを使用する */
    flex-direction: column; /* コンテンツを縦方向に配置する */
    justify-content: center; /* 垂直方向の中央揃え */
    align-items: center; /* 横方向の中央揃え */
    height: 100vh; /* ビューポートの高さいっぱいを使用する */
}